{% load static %}
<!-- ===================== NEWSLETTER SECTION ===================== -->
        <section class="newsletter">
            <div class="container shadow" style="background-image: url({% static '/images/baby-basket.avif' %});">
                <div class="bg-overlay row d-flex justify-content-center align-items-center px-2">
                    <div class="form-wrapper col-12 col-md-4">
                        <h3 class="section-title raleway-bold">This is the <br><span>Best 15% OFF</span><br>you'll use this month</h3>
                        <p class="section-text raleway-regular">sign up for our emails and new offers. <br>0% spammy, 100% for you</p>
                        <h2 class="offer-timer">74<sub>H</sub><span>:</span>32<sub>M</sub><span>:</span>54<sub>S</sub></h2>
                        <form action="" class="form">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Name...">
                                <label for="#name">Name...</label>
                            </div>
                            <div class="form-floating">
                                <input type="text" class="form-control" id="email" placeholder="Email...">
                                <label for="#email">Email...</label>
                            </div>
                            <div class="d-grid">
                                <button class="btn raleway-medium">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- ===================== NEWSLETTER SECTION END ===================== -->